
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div>
            <div class="col-md-10 ml-auto mr-auto">
                <img src="~/assets/img/Home.jpg" />
            </div>
        </div>
    </div>

