
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/assets/css/flaticon/flaticon.css" rel="stylesheet" />

}


<div class="content">
    <div class="page-inner">


        <!--Modal Busca Protocolo-->
        <div class="card-body">
            <div class="modal fade" id="buscaModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-bd">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">
                                    Busca
                                </span>
                                <span class="fw-mediumbold">
                                    Protocolo
                                </span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form_busca">


                                <div class="table-responsive">
                                    <table id="tableBuscaProtocolo" class="display table table-striped table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%">Codigo</th>
                                                <th style="width: 30%">Descrição</th>
                                                <th style="width: 25%">Cliente</th>
                                                <th style="width: 20%">Categoria</th>
                                                <th style="width: 15%">Ações</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->
        <!--Modal Atendimento-->
        <div class="card-body">
            <div class="modal fade" id="AtendimentoModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-bd">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">
                                    Atendimento
                                </span>

                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="form_novo">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <label for="txtTitulo">Titulo do Atendimento <span class="required-label">*</span></label>
                                            <input type="text" class="form-control" id="txtTitulo" name="txtTitulo" placeholder="Titulo do Atendimento" maxlength="30" required">
                                        </div>

                                        <div class="form-group">
                                            <label for="txtAtendimento">Detalhe do atendimento<span class="required-label">*</span></label>
                                            <textarea class="form-control mb-4" rows="3" id="txtAtendimento" maxlength="250"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group mb-0">
                                            <label for="txtDiaAtend">Dia do Atendimento <span class="required-label">*</span></label>
                                            <input id="txtDiaAtend" class="form-control flatpickr flatpickr-input" type="date" placeholder="Dia Atendimento">
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group mb-0">
                                            <label for="txtHoraInicio">Hora Inicio <span class="required-label">*</span></label>
                                            <input id="txtHoraInicio" class="form-control flatpickr flatpickr-input" type="text" placeholder="Hora Inicial">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group mb-0">
                                            <label for="txtHoraFim">Hora Final <span class="required-label">*</span></label>
                                            <input id="txtHoraFim" class="form-control flatpickr flatpickr-input" type="text" placeholder="Hora Final">
                                        </div>
                                    </div>


                                </div>

                            </form>
                        </div>
                        <div class="modal-footer no-bd">
                            <button type="button" id="GravarAtendimento" class="btn btn-primary" onclick="validaAtendimento()">Gravar Atendimento</button>
                            <button type="button" id="Fechar" class="btn btn-danger" onclick="fecharModalAtendimento()">Fechar</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->
        <!--Modal Editar Atendimento-->
        <div class="card-body">
            <div class="modal fade" id="EditAtendimentoModal" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header no-bd">
                            <h5 class="modal-title">
                                <span class="fw-mediumbold">
                                    Atendimento
                                </span>

                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="form_novo">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="txtCodigoEditAtend">Codigo <span class="required-label">*</span></label>
                                        <input type="text" class="form-control" id="txtCodigoEditAtend" name="txtCodigoEditAtend" placeholder="Codigo" disabled>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="txtEditTitulo">Titulo do Atendimento <span class="required-label">*</span></label>
                                            <input type="text" class="form-control" id="txtEditTitulo" name="txtEditTitulo" placeholder="Titulo do Atendimento" maxlength="30" required">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="txtEditAtendimento">Detalhe do atendimento<span class="required-label">*</span></label>
                                            <textarea class="form-control mb-4" rows="3" id="txtEditAtendimento" maxlength="250"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group mb-0">
                                            <label for="txtEditDiaAtend">Dia do Atendimento <span class="required-label">*</span></label>
                                            <input id="txtEditDiaAtend" class="form-control flatpickr flatpickr-input" type="date" placeholder="Dia Atendimento">
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group mb-0">
                                            <label for="txtEditHoraInicio">Hora Inicio <span class="required-label">*</span></label>
                                            <input id="txtEditHoraInicio" class="form-control flatpickr flatpickr-input" type="text" placeholder="Hora Inicial">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group mb-0">
                                            <label for="txtEditHoraFim">Hora Final <span class="required-label">*</span></label>
                                            <input id="txtEditHoraFim" class="form-control flatpickr flatpickr-input" type="text" placeholder="Hora Final">
                                        </div>
                                    </div>


                                </div>

                            </form>
                        </div>
                        <div class="modal-footer no-bd">
                            <button type="button" id="GravarAtendimento" class="btn btn-primary" onclick="AlterarAtendimento()">Salvar Alteraçoes</button>
                            <button type="button" id="Fechar" class="btn btn-danger" onclick="fecharEditModalAtendimento()">Fechar</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Fim Modal-->

        <div class="col-md-8 ml-auto mr-auto">
            <h1>Protocolo</h1>
        </div>

        <div class="row mt-9">
            <div class="col-md-8 ml-auto mr-auto">
                <form id="form_novo">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="txtCodigo">Codigo <span class="required-label">*</span></label>
                                <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" placeholder="Codigo" disabled>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <button class="btn btn-dark mb-3" type="button"><i class="flaticon-search-1" onclick="modalBuscar()"></i></button>
                        </div>

                        <div class="col-sm-9">
                            <div class="form-group">
                                <label for="txtDescricao">Descrição <span class="required-label">*</span></label>
                                <input type="text" class="form-control" id="txtDescricao" name="txtDescricao" placeholder="Descrição do Protocolo" maxlength="50" required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtCliente">Cliente <span class="required-label">*</span></label>
                                <select class="form-control  basic" id="txtCliente">
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtCategoria">Categoria do Protocolo <span class="required-label">*</span></label>
                                <select class="form-control  basic" id="txtCategoria">
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="txtObservacoes">Observações<span class="required-label">* (Maximo 250 caracteres)</span></label>
                            <textarea class="form-control mb-4" rows="3" id="txtObservacoes" maxlength="250"></textarea>
                        </div>



                        <div class="col-md-8 ml-auto">
                            <h1>Atendimentos</h1>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table id="tableAtendimento" class="display table table-striped table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th style="width: 60%">Descrição</th>
                                    <th style="width: 15%">Data</th>
                                    <th style="width: 25%">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <label><span class="required-label"> </span></label>
                        </div>
                        <div class="col-sm-5 align-items-center">
                            <button type="button" class="btn-primary mb-4 mr-2 btn-lg" onclick="AtendimentoModal()">Incluir Atendimento</button>
                        </div>



                        <div class="col-sm-4 ml-auto mr-auto">
                            <div class="form-group ">
                                <label for="txtValorTotal">Valor Total do Protocolo<span class="required-label">*</span></label>
                                <input type="text" class="form-control" id="txtValorTotal" name="txtValorTotal" placeholder="Valor Total" required">
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <div class="col-sm-4 ml-auto mr-auto">
                            <div class="form-group ">
                                <label for="txtValorRecebido">Valor Recebido<span class="required-label">*</span></label>
                                <input type="text" class="form-control" id="txtValorRecebido" name="txtValorRecebido" placeholder="Valor Recebido" disabled>
                            </div>
                        </div>



                    </div>


                    <div class="row">
                        <div class="col-sm-8">
                            <button class="btn-primary mb-6 btn-lg" type="button" onclick="validaDescricaoProcesso()">Gerar Processo</button>
                        </div>

                        <div class="col-sm-4">
                            <button class="btn-primary mb-4 btn-lg" type="button" onclick="limpaCampos()">Novo</button>
                            <button class="btn-primary mb-4 btn-lg" type="button" onclick="validaDescricaoProtocolo()">Salvar</button>
                            <button class="btn-primary mb-4 btn-lg" type="button" onclick="excluir()">Excluir</button>
                        </div>


                    </div>

                </form>



            </div>
        </div>
    </div>
</div>





@section script{

    <script src="~/plugins/flatpickr/flatpickr.js"></script>

    <script>
        $("#txtEditDataVenc").flatpickr(
            {
                dateFormat: "dd/mm/YYYY"
            });
    </script>

    <script>


    </script>

    <script src="~/plugins/jquery.mask.js"></script>
    <script src="~/js/view/Protocolo/Cadastro.js"></script>

}

