
@{
    ViewData["Title"] = "CadastroUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="page-inner">
        <div class="col-md-8 ml-auto mr-auto">

        </div>

        <div class="row mt-3">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">



                        <div class="d-flex align-items-center">
                            <h4>Cadastro Usuario</h4>
                            <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" onclick="showNovoModal()">
                                <i class="fa fa-plus"></i>
                                Novo
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal Adicionar Usuario -->
                        <div class="modal fade" id="addRowModal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                                Novo
                                            </span>
                                            <span class="fw-mediumbold">
                                                Usuario
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form_novo">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="txtUsuario">Nome de Usuario<span class="required-label">*</span></label>
                                                        <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Nome de Usuario" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="txtSenha">Senha<span class="required-label">*</span></label>
                                                        <input type="password" class="form-control" id="txtSenha" name="txtSenha" placeholder="Senha" required>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="txtSenha2">Confirmação de Senha<span class="required-label">*</span></label>
                                                        <input type="password" class="form-control" id="txtSenha2" name="txtSenha2" placeholder="Confirmação de Senha" required>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="button" id="addNovo" class="btn btn-primary" onclick="validaUsuario()">Adicionar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fim Modal-->
                        <!-- Modal Alterar Usuario -->
                        <div class="modal fade" id="editRowModal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                               Alterar
                                            </span>
                                            <span class="fw-mediumbold">
                                                Usuario
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form_edit">
                                            <div class="row">
                                                <div class="col-sm-2 ml-auto mr-auto">
                                                    <div class="form-group">
                                                        <label for="txtEditCodigo">Codigo<span class="required-label">*</span></label>
                                                        <input type="text" class="form-control" id="txtEditCodigo" name="txtEditCodigo" placeholder="Codigo" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-sm-8 ml-auto mr-auto">
                                                    <div class="form-group">
                                                        <label for="txtEditUsuario">Nome de Usuario<span class="required-label">*</span></label>
                                                        <input type="text" class="form-control" id="txtEditUsuario" name="txtEditUsuario" placeholder="Nome de Usuario" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5 ml-auto mr-auto">
                                                    <div class="form-group">
                                                        <label for="txtEditSenha">Senha<span class="required-label">*</span></label>
                                                        <input type="password" class="form-control" id="txtEditSenha" name="txtEditSenha" placeholder="Senha" required>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5 ml-auto mr-auto">
                                                    <div class="form-group">
                                                        <label for="txtEditSenha2">Confirmação de Senha<span class="required-label">*</span></label>
                                                        <input type="password" class="form-control" id="txtEditSenha2" name="txtEditSenha2" placeholder="Confirmação de Senha" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="button" id="addNovo" class="btn btn-primary" onclick="alterar();">Alterar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Fim Modal-->
                        <div class="table-responsive">
                            <table id="tableUsuario" class="display table table-striped table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">Codigo</th>
                                        <th style="width: 45%">Login</th>
                                        <th style="width: 20%">Status</th>
                                        <th style="width: 25%">Ações</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section script{
    <script src="~/plugins/highlight/highlight.pack.js"></script>
    <script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/js/view/Login/Cadastro.js"></script>

}

